
.titulo {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    padding: 30px;
}

.tabla {
    border: solid;
    border-color: rgb(54, 0, 249);
}

.tabla1 {
    border: solid;
    border-color: rgb(54, 0, 249);
    padding: 2px; 
}