<!-- <h1 class="titulo">Listado de municipios</h1>


<table class="tabla">
    <thead>
      <tr>
        <th class = "tabla1">#</th>
        <th class = "tabla1">Región</th>
        <th class = "tabla1" >Código el departamento</th>
        <th class = "tabla1" >Departamento</th>
        <th class = "tabla1">Código del municipio</th>
        <th class = "tabla1">Municipio</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listado, let i = index">
        <ng-container *ngIf="item.municipio.toLowerCase());"></ng-container>
          <td class = "tabla1" >{{i}}</td>
          <td class = "tabla1">{{item.region}}</td>
          <td class = "tabla1">{{item.c_digo_dane_del_departamento}}</td>
          <td class = "tabla1" >{{item.departamento}}</td>
          <td class = "tabla1">{{item.c_digo_dane_del_municipio}}</td>
          <td class = "tabla1">{{item.municipio}}</td>
      </tr>
    </tbody>
  </table> -->


  <app-crear-producto></app-crear-producto>
