<h2>SISAS</h2>

<form action = "">
    <label for="">nameProduct</label>
    <input type="text">
    <label for="">Price</label>
    <input type="number">
    <label for="">Category: </label>
    <select>
        <option value="65581bceeab55bb8995478e9">Papitas</option>
        <option value="655e5649fce33c107331a59d">Gomitas</option>
        <option value="655e5693fce33c107331a59f">Limpieza</option>
    </select>
    <label for="">Proovedor: </label>
    <select>
        <option value="655e57a3fce33c107331a5a1">Lucas</option>
        <option value="655e57b7fce33c107331a5a3">Pablo</option>
        <option value="655e51702c07fa9425ebbd36">Arturo</option>
    </select>
    <label for="">Description: </label>
    <input type="text">
    <button (click)="almecenarProduct()">Guardar producto</button>
    
</form>
